# separate copy needed to use /sbin/linker instead of /system/bin/linker
service sbinqseecomd /sbin/decrypt.sh
    oneshot
    disabled
    user root
    group root
    seclabel u:r:recovery:s0

on init
    chmod 0660 /dev/qseecom
    chown system drmrpc /dev/qseecom
    chmod 0664 /dev/ion
    chown system system /dev/ion

on fs
    wait /dev/block/platform/msm_sdcc.1
    symlink /dev/block/platform/msm_sdcc.1 /dev/block/bootdevice
    setprop crypto.ready 1

on property:crypto.ready=0 && property:ro.crypto.state=encrypted
    stop sbinqseecomd

on property:crypto.ready=1 && property:ro.crypto.state=encrypted
    start sbinqseecomd
